.footer {
  background-color: whitesmoke;
  padding: 3rem 1.5rem 6rem;
}

html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Crimson Text", "Georgia", serif;
}

.page-footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
}

.is-centered {
  display: block;
  margin: 0 auto;
}

.is-rounded {
  border-radius: 3%;
}

.hero.is-primary {
  background-image: url('../assets/portfolio_website_background_resized.jpg');
  background-size: cover; /* 이미지 크기를 전체 화면에 맞춤 */
  background-position: center; /* 이미지가 화면 가운데에 위치하도록 설정 */
  background-repeat: no-repeat; /* 이미지 반복을 막음 */
  background-color: #69dcff;
  color: white;
}

